// Light theme
$color-light: #FFFFFF;
$color-light-bg: #f0f0f0;
// Dark theme
$color-dark: #555555;
$color-dark-bg: #393939;
// Util colors
$color-placeholder: #9E9E9E;
$color-danger: #DB222A;
$color-yellow: #F9CE37;
$color-accent: #0091ff;
